/**
* TODO: We could probably split this file into different ones
* - Refactor to use nesting
* **/

@layer base {
  .article-image {
    box-shadow: var(--ui-shadow);
  }

  .image-legend {
    padding: 8px;
  }

  .image-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .image-row img {
    height: 120px;
  }

  .spinner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .float-center {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 6;
    transform: translate(-50%, -50%);
  }

  .spinner.float-center img {
    height: 200px;
  }

  .to-reveal {
    opacity: 0.1;
    transition: opacity 0.5s;
  }

  .header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    /* Had to fix the height for the menu */
    height: 60px;
    background-image: url('~/assets/img/gilleshead_rotated.webp');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: var(--main-padding);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    transition: all .3s ease;
    color: var(--light-color);
    transform-origin: top;
  }

  .header--sticky {
    position: fixed;
    height: initial;
    background-color: var(--light-color);
    padding: 1.2rem;
    color: var(--dark-color);
    z-index: 15;
  }

  #menu {
    position: fixed;
    z-index: 550;
    top: 90px;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
    overflow-y: auto;
    color: var(--light-color);
    font-size: 1.4rem;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.5), var(--hero-inset-shadow);
    background-color: var(--dark-color-transp);
    background-image: linear-gradient(var(--dark-color-transp), var(--secondary-color-transp));
    background-image: url('~/assets/img/pat_shrimp.webp'), linear-gradient(var(--dark-color-transp) 70%, var(--secondary-color-transp) 130%);
    border: 1px solid var(--dark-color);
    transition: visibility 0s linear 0.6s, transform 0.6s;
    transform: scaleY(0);
    transform-origin: top center;
    max-height: calc(100vh - 150px);
    visibility: hidden;
  }

  .floating-menu {
    position: absolute;
    z-index: 5;
    font-size: 1rem;
    top: 50px;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    padding: 0.6rem;
    background-color: var(--dark-color);
    width: 300px;
    width: calc(100vw - 6.4rem);
    transform: translateX(-50%);
    box-shadow: var(--card-shadow);
    transition: opacity 0.6s, visibility 1s;
  }

  /*
  Selector is overly complicated but I wanted the nav
  element to be closer to the ul with the actual
  navigation links.
  */
  #menu-checkbox:checked~div#menu {
    visibility: visible;
    transform: scaleY(1);
    animation: gradient 12s 1s ease infinite;
    transition: transform 0.6s;
  }

  .toggle-checkbox:checked~.floating-menu {
    visibility: visible;
    opacity: 1;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--card-padding);
  }

  .menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /*
  * The whole label div thing is too convoluted, 
  * should find a better way (grid?)
  * */

  .menu__list a,
  .menu__list label,
  .menu__list label div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--light-color);
    padding: 0.4rem 0.4rem;
    cursor: pointer;
  }

  .menu__list label div {
    padding: 0;
  }

  .menu__list label {
    align-items: center;
    justify-content: space-between;
  }

  .menu__list a:hover,
  .menu__list a:active,
  .menu__list a:focus,
  .menu__list label:hover,
  .menu__list label:active,
  .menu__list label:focus {
    background-color: var(--dark-color-extra-transp);
  }

  .menu__list label:active,
  .menu__list label:hover {
    animation: zomg 3s infinite;
  }

  .menu__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    gap: 1.4rem;
  }

  .hero {
    position: absolute;
    top: 0;
    left: 0;
    height: 170px;
    width: 100%;
    background-color: var(--dark-color);
    background-image: linear-gradient(90deg, rgba(110, 96, 204, 0.5) 0%, rgba(182, 35, 150, 0.5) 50%, rgba(252, 176, 69, 0.5) 100%);
    border-bottom: 3px solid var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--dark-color);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: var(--hero-inset-shadow);
  }

  .hero__mid {
    flex: 1;
    z-index: 1;
  }

  .hero__bottom {
    position: absolute;
    bottom: -20px;
    right: 16px;
    z-index: 2;
  }

  .hero__img {
    height: 45%;
    filter: drop-shadow(0px 0px 4px var(--accent-color));
  }

  svg.hero__img * {
    stroke: var(--grayed-color);
  }

  svg.socials {
    fill: var(--light-color);
    transition: all ease-out 0.3s;
    height: 48px;
  }

  svg.socials:hover,
  svg.socials:active {
    fill: var(--light-gray-color);
    transform: rotate(-20deg);
  }

  .hero__img--v1 {
    transform: rotate(-14deg);
  }

  .hero__img--v2 {
    transform: rotate(-11deg) scaleX(-1);
  }

  svg.hero__img--v1 * {
    stroke-width: 7px;
  }

  svg.hero__img--v2 * {
    stroke-width: 2px;
  }


  svg.hero__img--v2-loaded * {
    stroke-width: 3px;
    fill: transparent;
  }

  .main {
    flex: 1;
    /** Required to display 
  inline-block elements
  at the center **/
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header__title {
    margin: 0;
    padding: 0.1rem 0;
    font-size: 0.94rem;
    text-decoration: none;
    color: var(--light-color);
  }

  .comments__title {
    margin-top: 10px;
    padding-bottom: 1rem;
    border-bottom: var(--separator);
  }

  .main-title {
    text-shadow: var(--text-shadow-2);
    text-align: center;
    font-size: 2rem;
  }

  .main-title__highlight {
    display: inline-block;
    background: linear-gradient(to right, var(--ui-color) 0%, var(--light-color) 80%);
    background-clip: text;
    color: transparent;
    text-shadow: none;
  }

  .content-card {
    text-align: left;
    hyphens: auto;
    background-color: var(--light-color);
    color: var(--dark-color);
    box-shadow: rgba(0, 0, 0, .14) 0px 16px 24px 2px, rgba(0, 0, 0, .12) 0px 6px 30px 5px, rgba(0, 0, 0, .2) 0px 8px 10px -7px;
    width: 99.6%;
    padding: var(--content-padding);
    margin-bottom: 2.5rem;
  }

  .footer-wrapper {
    color: var(--light-color);
    background-color: var(--dark-color);
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .6);
    padding: var(--main-padding);
  }

  .content-card,
  .footer {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  }

  .content-card--l-margin {
    margin-bottom: 5rem;
  }

  .content-card--transp {
    background-color: var(--secondary-color-transp);
  }

  .content-card--page-card {
    margin-top: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }

  .content-card--page-card p,
  .card__body p,
  .content-card--page-card blockquote,
  .card__body blockquote {
    line-height: 1.75;
  }

  .content-card--page-card li,
  .card__body li {
    line-height: 1.5;
  }

  .content-card--page-card img-lightbox {
    width: 100%;
  }

  .card__body>div {
    line-height: 1.3;
  }

  /* Parent element for all of the 
  article content and headlines */
  .article-content {
    font-family: var(--article-font);
    font-size: 1.2rem;
  }

  .article-content h1,
  .article-content h2,
  .article-content h3,
  .article-content h4,
  .article-content h5,
  .article-content h6 {
    font-family: var(--main-font);
  }

  .cta {
    position: relative;
    z-index: 1;
    margin-top: 110px;
    width: min-content;
    min-width: 240px;
    padding: 1.2rem;
  }

  .footer,
  .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer ul li {
    margin-bottom: 0.2rem;
  }

  .footer a {
    color: var(--secondary-color);
    text-decoration: none;
  }

  .footer a:hover {
    color: var(--light-color);
    animation: none;
  }

  .footer-sections {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    justify-content: space-between;
  }

  .footer-sections p {
    color: var(--light-color);
  }

  .footer-sections__image-link {
    display: flex;
    justify-content: baseline;
    align-items: center;
  }

  .cta-buttons {
    display: grid;
    grid-gap: 1rem;
    margin: 0 auto;
    justify-content: center;
  }

  .section-title {
    text-align: center;
    margin: 1.2rem 0 0.8rem 0;
  }

  .section-title__title,
  .section-title__big-title,
  .article-header {
    padding: 0 0 0.8rem 0;
    /*border-bottom: solid 6px var(--primary-color);*/
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-color: var(--primary-color);
    border-image: linear-gradient(to right, var(--ui-color), var(--accent-color)) 5;
  }

  .section-title__title,
  .section-title__big-title {
    display: inline-block;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .section-title__big-title {
    font-size: 1.8rem;
  }

  .article-header__title {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    line-height: 2.85rem;
  }

  .article-header__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .article-toc {
    padding: var(--main-padding);
    border: 2px solid var(--primary-color);
    border-top: none;
    background-color: var(--lighter-gray);
  }

  .article-toc ul {
    line-height: 1.4rem;
  }

  .article-toc__title {
    font-size: 1.3rem;
  }

  .search {
    display: flex;
    min-width: 250px;
  }

  .search-big {
    max-width: 600px;
    margin: 2rem auto 2rem auto;
  }

  .search__label {
    width: 100%;
    border: 3px solid var(--dark-color);
    padding: 0;
    padding-right: 2px;
    margin: 0;
    display: flex;
    align-items: center;
    box-shadow: var(--ui-shadow);
    background-color: var(--dark-color);
  }

  .search__img {
    /*background-color: var(--dark-color);*/
    color: var(--light-color);
    /* padding: 0.2rem 0.8rem; */
    margin: 0.1rem 0.3rem;
    /* height: 34px; */
    /* Nuxt icons are controlled by font-size */
    font-size: 2.4rem;
  }

  .input {
    border: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 4px;
  }

  input[type="text"],
  textarea.input {
    font-family: var(--main-font);
    padding: 0.5rem 0.6rem;
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  .search__input {
    min-width: 0;
    font-size: 1rem;
    flex: 1;
    border-radius: 0;
  }

  .input:focus {
    outline: 2px solid var(--accent-color);
  }

  .input::-moz-focus-inner {
    border: 0;
  }

  .modal-dialog {
    /* showModal uses margins to position vertically */
    margin: 10% auto 0 auto;
    top: 0;
    min-height: 400px;
  }

  .comment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
    height: 100%;
  }

  .comment-form>input[type="text"],
  .comment-form>textarea {
    font-size: 1rem;
  }

  .comment-form>textarea {
    flex: 1;
  }

  .comment-form label {
    color: var(--light-color);
  }

  .comment-form-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1rem;
  }

  .small-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .small-control .input {
    max-width: 130px;
  }

  .comment-form-title {
    color: var(--light-color);
  }

  .comment-success-msg {
    font-size: 1.2rem;
    text-align: center;
    color: var(--light-color);
  }

  .pill {
    background-color: var(--secondary-color-transp);
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 0.9rem;
    padding: 0.2rem 0.8rem;
    border-radius: 16px;
  }

  .pill a {
    color: var(--primary-color);
    transition: color .3s;
  }

  .pill a:hover,
  .pill a:active {
    color: var(--accent-color);
    animation: none;
  }

  .icon__medium {
    height: 28px;
  }

  .responsive-img,
  .responsive-video {
    height: auto;
    max-width: 100%;
  }

  /* One of the previous fronts had this
  * really weird "video-container" style 
  * applied to iframes. I have to re-create
  * it here. */
  .video-container iframe,
  .responsive-iframe iframe {
    width: 100%;
    min-height: 430px;
  }

  /* .quote-card { */
  /*   padding: 1rem; */
  /*   font-style: italic; */
  /*   color: var(--secondary-color); */
  /*   background-color: var(--dark-color); */
  /* } */

  .text-muted {
    color: var(--grayed-color);
    font-size: 0.94rem;
  }

  .warn {
    color: var(--warn-color);
    font-size: 1rem;
    font-weight: bold;
  }

  pre.screen,
  pre.shiki {
    padding: 0.5rem;
    border-radius: 2px;
    font-size: 0.92rem;
    font-family: "dejavu sans mono", "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
    word-break: normal;
    overflow: auto;
    tab-size: 2;
  }

  .pagination {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 2px;
    box-shadow: var(--card-shadow);
    background-color: var(--light-color);
    font-weight: bold;
  }

  .pagination a,
  .pagination span {
    display: inline-block;
    border-radius: 3px;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  }

  .pagination a:hover,
  .pagination a:active,
  .pagination a:focus {
    background-color: var(--secondary-color);
  }

  /** Direction column by default with media query **/
  .two-items-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .list-wrap {
    display: flex;
    flex-wrap: wrap;
    /* center, space-around and space-between are nice */
    justify-content: center;
    gap: 1rem;
  }

}
