/**
* Should probably be after the base file itself and cards
* (after = more priority)
**/

@layer base {

  .btn {
    background-color: var(--light-gray-color);
    color: var(--dark-color);
    border-radius: 6px;
    padding: 0.6rem 0.8rem;
    padding: calc(0.4rem + 3px) calc(0.8rem + 3px);
    border: 0;
    font-size: 1.1rem;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    transition: transform .3s, background-color .3s;
    font-weight: bold;
  }

  /* Looks like the simple-row utility but it makes sense to keep it */
  .btn-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  /* Reset stuff on a.btn */
  a.btn:hover {
    animation: none;
  }

  .btn:hover,
  .btn:focus,
  .btn:active,
  a.btn:hover,
  a.btn:focus,
  a.btn:active {
    background-color: var(--grayed-color);
    color: var(--lighter-gray);
  }

  .btn:focus,
  .btn:active,
  a.btn:focus,
  a.btn:active {
    /* padding: 0.4rem 0.8rem; */
    /* 
    box-shadow doesn't work as an outline because windows
    in high contrast mode disables box-shadow entirely 
  */
    outline: 2px solid var(--accent-color);
  }

  .btn-highlight {
    padding: 10px 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 4px var(--dark-color);
    font-size: 24px;
  }

  .menu-btn {
    cursor: pointer;
    font-family: var(--main-font);
    border: none;
    background-color: transparent;
    /*padding: 0.3rem 0.5rem;*/
    color: var(--light-color);
    padding: 0.3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    text-transform: uppercase;
  }

  .header--sticky .menu-btn,
  .header--sticky .header__title {
    color: var(--dark-color);
  }

  .menu-btn__icon {
    height: 26px;
    padding: 0.2rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-left: 0.4rem;
    border: 2px solid var(--light-color);
  }

  .header--sticky .menu-btn__icon {
    border: 2px solid var(--dark-color);
  }

  .menu-btn span {
    margin-right: 0.4rem;
  }

  .menu-btn__icon rect {
    transition: opacity .6s, transform .6s;
    fill: var(--light-color);
  }

  .header--sticky .menu-btn__icon rect {
    fill: var(--dark-color);
  }

  .menu-btn.open {
    z-index: 20;
  }

  .menu-btn.open .menu-btn__icon .line-2 {
    opacity: 0;
  }

  .menu-btn:hover .menu-btn__icon .line-1 {
    animation: refill 1s infinite;
  }

  .menu-btn:hover .menu-btn__icon .line-2 {
    animation: refill 4s infinite;
  }

  .menu-btn:hover .menu-btn__icon .line-3 {
    animation: refill 1s infinite 0.2s;
  }

  .menu-btn.open .menu-btn__icon .line-1 {
    transform: rotate(45deg) translate(2px, -1px);
  }

  .menu-btn.open .menu-btn__icon .line-2 {
    opacity: 0;
  }

  .menu-btn.open .menu-btn__icon .line-3 {
    transform: rotate(-45deg) translate(-4px, -2px);
  }

  .card-list--single .card-list__btn {
    grid-column: initial;
  }

  .toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }

  /** Focus indicator for label? **/
  .toggle-label {
    display: flex;
    gap: 0.15rem;
  }

  .toggle-indicator {
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0.4rem;
    font-size: 0.8rem;
    border-radius: 5px;
    background-color: var(--light-gray-color);
    color: var(--dark-color);
    border: 1px solid var(--grayed-color);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.4);
  }

  .toggle-label .toggle-indicator:nth-child(1) {
    font-weight: 600;
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.4);
  }

  .toggle-checkbox:checked+label .toggle-indicator:nth-child(2) {
    font-weight: 600;
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.4);
  }

  .toggle-checkbox:checked+label .toggle-indicator:nth-child(1) {
    font-weight: initial;
    transform: initial;
  }

}
