/**
* Main entry point for CSS, imports the others
*/

@layer reset, base, utilities, theme;

@import '~/assets/styles/fonts.css';
@import '~/assets/styles/variables.css';
@import '~/assets/styles/variables-default-colors.css';
@import '~/assets/styles/reset.css';
@import '~/assets/styles/base.css';
@import '~/assets/styles/cards.css';
@import '~/assets/styles/tables.css';
@import '~/assets/styles/buttons.css';
@import '~/assets/styles/animations.css';
@import '~/assets/styles/media.css';
@import '~/assets/styles/utilities.css';
@import '~/assets/styles/themes/dark.css';
