@layer utilities {

  .center-image {
    margin: 0 auto;
    text-align: center;
  }

  /* A bit weird but copy pasted from old PoC */
  .center-image img {
    max-width: 100%;
  }

  .text-smaller {
    font-size: 0.6em;
  }

  .text-center {
    text-align: center;
  }

  .mt-1 {
    margin-top: 0.4rem;
  }

  .p-1 {
    padding: 0.4rem;
  }

  .mt-2 {
    margin-top: 0.8rem;
  }

  .p-2 {
    padding: 0.8rem;
  }

  .mt-3 {
    margin-top: 1.2rem;
  }

  .p-3 {
    padding: 1.2rem;
  }

  .p-4 {
    padding: 1.6rem;
  }

  .gap-4 {
    gap: 1.6rem;
  }

  .mb-1 {
    margin-bottom: 0.4rem;
  }

  .mb-2 {
    margin-bottom: 0.8rem;
  }

  .mb-3 {
    margin-bottom: 1.2rem;
  }

  .right {
    float: right;
    margin-left: 0.8rem;
  }

  .left {
    float: left;
    margin-right: 0.8rem;
  }

  .h-full {
    height: 100%;
  }

  .sm-w-full {
    width: 100%;
  }

  /* Never used */
  .img-flipped {
    transform: scaleX(-1);
  }

  .bg-gradient {
    background-color: var(--secondary-color);
    /*background: linear-gradient(to bottom, rgba(220,220,220,0.9) 0%,rgba(69,90,100,0.9) 100%);*/
    background: linear-gradient(to right bottom, rgb(184, 192, 224) 0%, rgba(73, 77, 100, 0.9) 70%);
  }

  .bg-gradient-clouds {
    background-image: url('../img/clouds3.jpg');
    background-repeat: repeat-y;
    background-size: contain;
    /* Lighter version:
  background: linear-gradient(90deg, rgba(110, 96, 204, 0.7) 0%, rgba(182, 35, 150, 0.7) 50%, rgba(252, 176, 69, 0.7) 100%), url('../img/seamless_clouds3.jpg');*/
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(90deg, rgba(110, 96, 204, 0.7) 0%, rgba(182, 35, 150, 0.7) 50%, rgba(252, 176, 69, 0.7) 100%), url('../img/seamless_clouds3.jpg');
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
  }

  /* With tailwing this also requires the 
  * grid class. Also doesn't have the align-items */
  .grid-flow-col {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }

  .simple-row {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .mr-1 {
    margin-right: 0.5rem;
  }

  .only-on-dark {
    display: none;
  }

}
