/**
* Styles for dark mode
*
* Now using the Nuxt color-mode module
* which uses a class on the html element.
* Everything got nested into that as a result.
*/

/*
* Since I put my variables out of any layers, the following
* selector also has to be outside of layers.
* Also :root shouldn't be mentioned in here.
*/

.dark-mode {

  /* --secondary-color: rgb(119, 119, 119); */
  --secondary-color: rgb(165, 173, 203);
  --secondary-color-transp: rgba(165, 173, 203, 0.3);
  --grayed-color: rgb(251, 241, 199);
  --light-gray-color: #333;
  --lighter-gray: #999;
  --light-color: rgb(68, 68, 68);
  --light-color-transp: rgba(68, 68, 68, 0.86);
  /* --dark-color: rgb(202, 190, 202); */
  --dark-color: rgb(243, 234, 211);
  --dark-color-transp: rgba(243, 234, 211, 0.86);
  --dark-color-extra-transp: rgb(243, 234, 211, 0.6);
  --primary-color: #8AADF4;
  --accent-color: #F5BDE6;
  --accent-color-lighter: rgb(139, 213, 202);
  --ui-shadow: 0px 0px 4px 4px var(--light-gray-color);

  --text-shadow-2: 0px 0px 8px var(--primary-color);

}

@layer theme {

  .dark-mode {

    .bg-gradient {
      background-color: var(--light-color);
      /*background: linear-gradient(to bottom, rgb(37, 6, 37) 0%,var(--light-color) 100%);*/
      background: linear-gradient(to right, rgb(69, 71, 90) 0%, var(--light-gray-color) 100%);
    }

    /* .quote-card { */
    /*   background-color: var(--dark-color-quote); */
    /* } */

    #menu {
      color: var(--dark-color);
      background-color: var(--light-color-transp);
      background-image: linear-gradient(var(--light-color-transp), var(--secondary-color-transp));
      background-image: url('~/assets/img/pat_shrimp.webp'), linear-gradient(var(--light-color-transp) 70%, var(--secondary-color-transp) 130%);
      border-color: var(--light-color);
    }

    .menu__list a,
    .menu__list label,
    .menu__list label div {
      color: var(--dark-color);
    }

    .menu__list a:hover,
    .menu__list a:active,
    .menu__list a:focus,
    .menu__list label:hover,
    .menu__list label:active,
    .menu__list label:focus {
      background-color: var(--light-color-transp);
    }

    svg.socials {
      fill: var(--dark-color);
    }

    .floating-menu {
      background-color: var(--light-color);
    }

    .invertable--img {
      filter: invert();
    }

    dialog {
      background-color: var(--lighter-gray);
    }

    .btn:hover,
    .btn:focus,
    .btn:active,
    a.btn:hover,
    a.btn:focus,
    a.btn:active {
      background-color: var(--secondary-color);
      color: var(--light-color);
    }

    .footer-wrapper {
      color: var(--secondary-color);
      /*background-color: var(--dark-color-quote);*/
      background: linear-gradient(to bottom, var(--light-color) 0%, rgb(69, 71, 90) 100%);
    }

    .hero {
      border-bottom: none;
    }

    .footer-sections p {
      color: var(--dark-color);
    }

    .footer a:hover {
      color: var(--lighter-gray);
    }

    .pill {
      background-color: var(--light-gray-color);
    }

    .pill a {
      color: var(--accent-color);
    }

    .pill a:hover {
      color: var(--primary-color);
    }

    .article-toc {
      background-color: var(--light-gray-color);
      color: var(--dark-color);
    }

    .article-header__desc span {
      color: var(--secondary-color);
    }

    blockquote {
      background-color: var(--light-gray-color);
    }

    .header,
    .header__title,
    .menu-btn {
      color: var(--grayed-color);
    }

    .menu-btn__icon rect,
    .header--sticky .menu-btn__icon rect {
      fill: var(--grayed-color);
    }

    .menu-btn__icon {
      border: 2px solid var(--dark-color);
    }

    .main-title__highlight {
      background: linear-gradient(90deg, var(--dark-color) 0%, var(--light-color) 60%);
      background-clip: text;
      text-shadow: var(--text-shadow-2);
    }

    .only-on-light {
      display: none;
    }

    /* initial is not what we need here (always "inline")
    * though it works */
    .only-on-dark {
      display: revert;
    }

    .warn {
      background-color: var(--light-color);
      padding: 0.5rem;
      /* padding-top: 0.5rem; */
      /* padding-bottom: 0.5rem; */
      border-radius: 4px;
    }

    /* Copied from here: https://shiki.matsu.io/guide/dual-themes */
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }

    .toggle-indicator {
      border-color: var(--light-gray-color);
    }

  }

}
